<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Time spent
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class='card' *ngFor="let item of tableData">
      <mat-card-header>
        <mat-card-title>{{item.user}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-worklog-table [tableData]='item.features'></app-worklog-table>
      </mat-card-content>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Self Evaluation
      </mat-panel-title>
    </mat-expansion-panel-header>
      <div class='card' *ngFor="let scope of scopes; index as i">
        <mat-card-title>
          {{scope.title}} score: {{scopesScores[i]}} ({{scopesMaxScores[i]}})
        </mat-card-title>
        <app-scope [scope]='scope.items'></app-scope>
      </div>
      <mat-card-title  class='card'>
        Total: {{getTotalScore()}} ({{getMaxTotalScore()}})
      </mat-card-title>
  </mat-expansion-panel>
</mat-accordion>
