<form [formGroup]="form">
  <mat-form-field>
    <mat-label>search author by {{searchInstance}}</mat-label>
    <input matInput type="search" formControlName="searchValue">
    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-slide-toggle (click)="toggleSearchInstance()"></mat-slide-toggle>
</form>

<ul class="main">
  <li class="main__item" *ngFor="let writer of writers">
    <app-card
      [writerCard]="writer">
    </app-card>
  </li>
</ul>
