<header class="header">
  <div class="main item">
    <span class="title">{{ 'HEAD.TITLE' | translate }}</span>
    <mat-button-toggle-group class="nav-menu" name="fontStyle" aria-label="Font Style" [value]="(selectUrl$ | async)">
      <mat-button-toggle routerLink="/" class="nav-menu__item" value="/">HOME</mat-button-toggle>
      <mat-button-toggle [routerLink]="'/' + paths.SEARCH" class="nav-menu__item" value="/search">SEARCH
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="'/' + paths.TEAM" class="nav-menu__item" value="/team">TEAM</mat-button-toggle>
      <mat-button-toggle [routerLink]="'/' + paths.WORKLOG" class="nav-menu__item" value="/worklog">WORKLOG
      </mat-button-toggle>
      <mat-button-toggle [routerLink]="'/' + paths.STYLEGUIDE" class="nav-menu__item" value="/styleguide">STYLEGUIDE
      </mat-button-toggle>
    </mat-button-toggle-group>

    <button mat-icon-button [matMenuTriggerFor]="menu" class="btn-menu-mobile" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="menu-mobile" #menu="matMenu">
      <button routerLink="/" mat-menu-item>
        <span>Home</span>
      </button>
      <button [routerLink]="'/' + paths.SEARCH" mat-menu-item>
        <span>Search</span>
      </button>
      <button [routerLink]="'/' + paths.TEAM" mat-menu-item>
        <span>Team</span>
      </button>
      <button [routerLink]="'/' + paths.WORKLOG" mat-menu-item>
        <span>WorkLog</span>
      </button>
      <button [routerLink]="'/' + paths.STYLEGUIDE" mat-menu-item>
        <span>StyleGuide</span>
      </button>
    </mat-menu>
  </div>
  <div class="switch-group">
    <mat-button-toggle-group class="switch-menu" name="fontStyle" aria-label="Font Style" value="en"
      (change)="changeLanguage($event)">
      <mat-button-toggle value="be">BE</mat-button-toggle>
      <mat-button-toggle value="ru">RU</mat-button-toggle>
      <mat-button-toggle value="en">EN</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="clearfix"></div>
    <mat-slide-toggle class="switch-theme" (change)="switchTheme($event)">
      {{ 'HEAD.SWITCH_BUTTON_TEXT' | translate }}
    </mat-slide-toggle>
  </div>
</header>
