@import "~@angular/material/theming";
@import '~angular-mgl-timeline/theme';
@include mat-core();

@import 'app/shared/styles-variables';

$culture-portal-primary: mat-palette($mat-grey01, 500, 300, 700);
$culture-portal-primary-dark: mat-palette($mat-grey01-dark, 500, 300, 700);
$culture-portal-accent: mat-palette($mat-gold01, 500, 300, 700);
$culture-portal-warn: mat-palette($mat-red);

$culture-portal-theme: mat-light-theme($culture-portal-primary, $culture-portal-accent, $culture-portal-warn);
$culture-portal-theme-dark: mat-dark-theme($culture-portal-primary-dark, $culture-portal-accent, $culture-portal-warn);

$culture-portal-typography: mat-typography-config(
  $font-family: $font_family_global,
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include mgl-timeline-theme($culture-portal-theme);

.theme-dark {
  @include angular-material-theme($culture-portal-theme-dark);
}

.theme-light {
  @include angular-material-theme($culture-portal-theme);
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,600;1,600&display=swap");
@include angular-material-typography($culture-portal-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font_family_global;
}
.break {
  flex-basis: 100%;
  height: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
